// GENERAL COLORS
$shark-color: #3a3b3b;
$white-color: #FFFFFF;
$edward-color: #A0A5A5;
$havelock-blue-color: #427ED5;
$shocking-color: #DB80B3;

// BG COLOR
$white-smoke-bg: #f6f6f6;
$darks-late-gray-bg: #2b2e32;
$deep-gray-bg: #303337;
$misty-rose-bg: #f0dde6;
$black-bg: #1d1f22;


// IMGS
$img-hero: url('../assets/img/home1_slide_three_bg_2.jpg');

