// GENERAL COLORS
$shark-color: #3a3b3b;
$white-color: #FFFFFF;
$edward-color: #A0A5A5;
$havelock-blue-color: #427ED5;
$shocking-color: #DB80B3;


// BG COLOR
$white-smoke-bg: #f6f6f6;
$darks-late-gray-bg: #2b2e32;
$deep-gray-bg: #303337;
$misty-rose-bg: #f0dde6;
$black-bg: #1d1f22;


// IMGS
$bg-hero: url('../assets/img/home1_slide_three_bg_2.jpg');
$confetti-bg: url(../assets/img/bkgd_confetti-compressor.jpg);


// COLLECTIONS
$winter-collection: url("../assets/img/winter_collection_bg.jpg");
$spring-collection: url("../assets/img/spring_collection_bg.jpg");
$autumn-collection: url("../assets/img/autumn_collection_bg.jpg");


// PROMOBOX
$promo-box-1: url(../assets/img/promo_box_1_bg.jpg);
$promo-box-2:url(../assets/img/promo_box_2_bg.jpg);


// REVIEW CUSTOMER
$testimonial-img: url(../assets/img/testimonials_home_1_bg.jpg),