// TEXT COLORS
$text-primary-color: #3a3b3b;
$text-color-secondary: white;

// BUTTON COLORS
$button-color: #427ED5;
$button-hover: #DB80B3;

// IMGS
$img-hero: url('../assets/img/home1_slide_three_bg_2.jpg');

